In [6]:
# Imports
import pandas as pd
import pickle

from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [12]:
# Import data
df = pd.read_csv('./clean-data/usco2015v2.0_clean.csv')
df.head()

,demographic_location_information,population,water_supply,water_supply_withdrawals_by_source,other_water_usage_categories,industrial_water_usage,irrigation_water_usage,livestock_water_usage,aquaculture_water_usage,mining_water_usage,thermoelectric_power_generation,other_thermoelectric_power_generation,recirculating_thermoelectric_power_generation,total_water_withdrawals
0,"['AL', 'Autauga County', '01001']",55.347,"['--', '--', '48.998']","['3.64', '0.00', '3.64', '0.00', '0.00', '0.00...","['6.349', '0.38', '0.00', '0.38']","['1.83', '0.00', '1.83', '32.97', '0.00', '32....","['3.36', '0.16', '3.52', '--', '3.52', '2.26',...","['0.08', '0.11', '0.19']","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['1.40', '0.00', '1.40', '0.62', '0.00', '0.62...","['0.00', '0.00', '0.00', '11.86', '0.00', '11....","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '11.86', '0.00', '11....","['10.69', '0.00', '10.69', '45.72', '0.00', '4..."
1,"['AL', 'Baldwin County', '01003']",203.709,"['--', '--', '174.907']","['23.67', '0.00', '23.67', '0.00', '0.00', '0....","['28.802', '2.14', '0.00', '2.14']","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['47.17', '11.11', '58.28', '--', '58.28', '20...","['0.13', '0.16', '0.29']","['0.05', '0.00', '0.05', '0.05', '0.00', '0.05...","['0.22', '0.00', '0.22', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['73.38', '0.00', '73.38', '11.32', '0.00', '1..."
2,"['AL', 'Barbour County', '01005']",26.489,"['--', '--', '24.587']","['3.23', '0.00', '3.23', '0.00', '0.00', '0.00...","['1.902', '0.12', '0.00', '0.12']","['1.50', '0.00', '1.50', '0.00', '0.00', '0.00...","['0.57', '2.39', '2.96', '--', '2.96', '4.53',...","['0.16', '0.25', '0.41']","['0.18', '0.00', '0.18', '0.18', '0.00', '0.18...","['0.30', '0.00', '0.30', '0.14', '0.00', '0.14...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['6.06', '0.00', '6.06', '2.96', '0.00', '2.96..."
3,"['AL', 'Bibb County', '01007']",22.583,"['--', '--', '20.947']","['5.18', '0.00', '5.18', '0.00', '0.00', '0.00...","['1.636', '0.16', '0.00', '0.16']","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.03', '0.16', '0.19', '--', '0.19', '0.16',...","['0.03', '0.04', '0.07']","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.27', '0.00', '0.27', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['5.67', '0.00', '5.67', '0.20', '0.00', '0.20..."
4,"['AL', 'Blount County', '01009']",57.673,"['--', '--', '44.815']","['2.78', '0.00', '2.78', '54.08', '0.00', '54....","['12.858', '0.86', '0.00', '0.86']","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.20', '0.88', '1.08', '--', '1.08', '0.94',...","['0.43', '0.47', '0.90']","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.37', '0.00', '0.37', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['0.00', '0.00', '0.00', '0.00', '0.00', '0.00...","['4.64', '0.00', '4.64', '55.43', '0.00', '55...."

In [3]:
# Shape
df.shape

(3223, 14)

In [31]:
# Create a 'model'
model_0 = df['population'].mean()

In [33]:
# Write the pickled value to disk
with open('./model_0.pkl', 'wb') as pickle_out:
    pickle_out = pickle.dump(model_0, pickle_out)

In [34]:
# Open the pickled value
with open('./model_0.pkl', 'rb') as pickle_in:
    zero_model = pickle.load(pickle_in)
    
zero_model

100.84358175612783